{% extends "base.html" %}

{% block content %}
<div class="content-groups">
		<h2 class="ui center aligned icon header">
		  <i class="circular help icon"></i>
		  Ayuda
		</h2>
		<br/>
		<br/>
		<ul id="manuales">
			<li>
				<h3>Manual de usuario modulo grupos</h3>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/MqCCvyhKT5s" frameborder="0" allowfullscreen></iframe>
			</li>
			<li>
				<h3>Manual de usuario modulo de integrantes</h3>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/F1Nh6B2kqaQ" frameborder="0" allowfullscreen></iframe>
			</li>
			<li>
				<h3>Manual de usuario listado de eventos</h3>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/oG0qmvbB2hw" frameborder="0" allowfullscreen></iframe>
			</li>
			<li>
				<h3>Manual de usuario modulo de eventos</h3>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/De_bwUT44rA" frameborder="0" allowfullscreen></iframe>
			</li>
		</ul>
	</div>
</div>
{% endblock content %}